<script>

(function () {
  "use strict";

  var moduleName = 'commonUser';

  window.registerModule(moduleName)
    .config(function (userProvider) {
      userProvider.init(
 {{{ user }}}
      );
    });
})();

</script>
