<script>

 (function () {
   "use strict";
   
   window.registerModule('commonUser')
         .config(function (userProvider) {
           userProvider.init(
             {{{ user }}}
           );
         });
 })();

</script>
