
@if variable-exists(border-color) {
  $border-color: #e7e7e7;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Everything but the jumbotron gets side spacing for mobile first views */
  padding-left: 15px;
  padding-right: 15px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  img.logo {
    margin-right: 10px;
  }
    
  .navbar-brand {
    padding-top: 0px;
  }

  .navbar-header .btn-group {
    margin-top: 9px;
  }
}

@include if-width-md-lg {
  .header {

    padding-left: 0;
    padding-right: 0;

    /* Space out the masthead */
    margin-bottom: 30px;
  }
}
