/* if lt IE7 */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

@include if-width-lg {
  .container {
    max-width: 730px;
  }
}

@include if-width-md-lg {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.strikethrough {
  text-decoration:line-through;
}

header .nav-dropdown-button {
  opacity:1 !important;
  min-width: 110px;
  text-align: left;
}