<script>
angular.module('appUser')
.config(function (userProvider) {
    userProvider.init(
        {{ #user }}
        {
            "_id" : "{{ _id }}",
            "realname" : "{{ realname }}",
            "username" : "{{ username }}",
            "email" : "{{ email }}",
            "roles" : [
                {{ #roles }}
                "{{.}}",
                {{ /roles }}
            ]
        }
        {{ /user }}
        {{ ^user }}
        null
        {{ /user }}
    );
});

</script>
