<section class="row ng-scope">

  <mng-coverup ng-if="profile.dataLoading">
    <img src="/images/spinner1.gif" />
  </mng-coverup>

  <h3 class="col-xs-12 text-center">Edit your profile</h3>

  <div class="col-xs-12">
    <p>FSS {{ profile.success }} </p>
    <div class="row">
      <div ng-show="profile.success" class="col-xs-12 col-sm-offset-3 col-sm-6 alert alert-success">{{profile.success}}</div>
    </div>

    <div class="row">
      <div ng-show="profile.error" class="col-xs-12 col-sm-offset-3 col-sm-6 alert alert-danger">{{profile.error}}</div>
    </div>
    
    <form novalidate name="profile.form" ng-submit="profile.update()" class="form-horizontal" role="form">

      <!-- Autocomplete is done on the first password + previous inputs, fake it out by puttin extras in here -->
      <div style="display:none">
        <input>
        <input type="password">
      </div>

      <div class="form-group ng-invalid" ng-class="{ 'has-error': profile.form.displayname.$dirty && profile.form.displayname.$error.required }">
        <label for="displayname" class="hidden-xs col-sm-offset-2 col-sm-2 control-label">Displayname</label>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
          <input type="text" name="displayname" class="form-control" ng-model="profile.displayname" required placeholder="Displayname" />
        </div>
        <span ng-show="profile.form.displayname.$dirty && profile.form.displayname.$error.required" class="help-block">Displayname is required</span>
      </div>

      <div class="form-group ng-invalid" ng-class="{ 'has-error': profile.form.username.$dirty && profile.form.username.$error.required }">
        <label for="username" class="hidden-xs col-sm-offset-2 col-sm-2 control-label">Username</label>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
          <input type="text" name="username" class="form-control" ng-model="profile.username" required placeholder="Username" />
        </div>
        <span ng-show="profile.form.username.$dirty && profile.form.username.$error.required" class="help-block">Username is required</span>
      </div>

      <div class="form-group ng-invalid" ng-class="{ 'has-error': profile.form.email.$dirty && (profile.form.email.$error.required || profile.form.email.$error.email) }">
        <label for="email" class="hidden-xs col-sm-offset-2 col-sm-2 control-label">Email</label>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
          <input type="email" name="email" class="form-control" ng-model="profile.email" required placeholder="user@example.com" />
        </div>
        <span ng-show="profile.form.email.$dirty && profile.form.email.$error.required" class="help-block">Email is required</span>
        <span ng-show="profile.form.email.$dirty && profile.form.email.$error.email" class="help-block">Invalid email</span>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error': profile.form.password.$dirty && (profile.form.password.$error.required || profile.form.password.$error.minlength) }">
        <label for="password"  class="hidden-xs col-sm-offset-2 col-sm-2 control-label">Password</label>
        <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-4">
          <input type="password" name="password" class="form-control" ng-model="profile.password" ng-minlength="6" placeholder="a secret" />
        </div>
        <span ng-show="profile.form.password.$dirty && profile.form.password.$error.required"  class="help-block">Password is required</span>
        <span ng-show="profile.form.password.$dirty && profile.form.password.$error.minlength" class="help-block">Password is too short</span>
      </div>

      {{ profile.form.$invalid }} {{ profile.dataLoading }}
      <div class="form-actions text-center">
		<button type="submit" data-ng-disabled="profile.form.$invalid || profile.dataLoading" class="btn btn-primary">Update</button>
		<button ng-click="profile.reset()" class="btn">Reset</button>
      </div>
    </form>

    <div ng-show="profile.otherProviders.length > 0">
      <p ng-repeat="prName in profile.otherProviders">Can also login with your {{prName}} account</p>
    </div>

  </div>
</section>
